.box{
	background-color: lightgrey;
    width: 60%;
    padding: 25px;
    margin: 25px;
}

.spacer{
	width: 100%;
	height: 100px;
}

.addspace{
	width: 100%;
	height: 60px;
}

.textalignleft{
	text-align: left;
}