{% extends 'forum/base.html' %}

{% block content %}

<div class="spacer">
	&nbsp
</div>
<!-- <h1> Answer </h1> -->





<center>
	
	<div class="container">
		{% include 'forum/question_show.html' %}
		<div  >
		  <div class="media">
		    <div class="media-left media-top">
		     
		    </div>
		    <div class="media-body">
				<div class="textalignleft"> 
			      <form method="POST" class="smart-green1">{% csrf_token %}
					{{ form.as_p }}
					<button type="submit" class="	savr btn btn-default">Add</button>
					</form>
			    </div>
		    </div>
		  </div>
		</div>
	</div>
</center>











<!-- <form method="POST" class="smart-green">{% csrf_token %}
	{{ form.as_p }}
	<button type="submit" class="savr btn btn-default">Add</button>
</form> -->


{% endblock %}