{% extends 'forum/base.html' %}

{% block content %}

<div class="spacer">
	&nbsp
</div>



<center>
	
	<div class="container">
		{% include 'forum/question_show.html' %}
		<hr>
	{% include 'forum/answer_show.html' %}

	<!-- <p>{{ answer.text }}</p>
	<a href="{% url 'upvote_answer' pkey=answer.pk %}" ><button type="button">upvote</button></a> -->
		<div  class="box" >
		  <div class="media">
		    <div class="media-left media-top">
		     
		    </div>
		    <div class="media-body">
				<div class="textalignleft"> 
			      <form method="POST" class="smart-green3">{% csrf_token %}
					{{ form.as_p }}
					<button type="submit" class="	savr btn btn-default">Add</button>
					</form>
			    </div>
		    </div>
		  </div>
		</div>
	</div>
</center>

























<!-- <h1> Comment </h1>
<form method="POST" class="post-form">{% csrf_token %} {{ form.as_p }}
	<button type="submit" class="savr btn btn-default">Add</button>
</form> -->

{% endblock %}