{% extends 'forum/base.html' %}

{% block content %}
<div class="spacer">
	&nbsp
</div>





<center>
	
	<div class="container">
		<h2>{{ question.text }}</h2>
	<h3>Followers: {{question.get_num_followers}}  Upvotes: {{question.get_num_upvotes}}</h3>
		<div class="box" >
		  <div class="media">
		    <div class="media-left media-top">
		     
		    </div>
		    <div class="media-body">
				<div class="textalignleft"> 
			      <p><b>{{answer.author}}</b></p>
			      <p>{{answer.text|linebreaksbr}}</p>
			    </div>
		    </div>
		  </div>
		</div>
	</div>
</center>

{% endblock %}