{% extends 'forum/base.html' %}

{% block content %}

<div class="spacer">
	&nbsp
</div>



<center>
	
	<div class="container">
		<a href="{% url 'question' pkey=question.pk %}"><h2>{{ question.text }}</h2></a>
	<h3>Followers: {{question.get_num_followers}}  Upvotes: {{question.get_num_upvotes}}</h3>

	<p>{{ answer.text }}</p>
	<p>upvotes:{{answer.num_upvotes}}</p>
	<a href="{% url 'upvote_answer' pkey=answer.pk %}" ><button type="button">upvote</button></a>
	<a href="{% url 'add_comment' pkey=answer.pk %}" ><button type="button">comment</button></a>
		<div class="box" >
		  

		  <div class="media">
		    <div class="media-left media-top">
		     
		    </div>
		    <div class="media-body">
				<div class="textalignleft"> 
			      {% for comment in comments %}
			      <b>{{comment.author}}</b><br>
			      {{comment.text|linebreaksbr}}
			      <br>
			      <hr>
			      {% endfor %}
			      <hr>
			    </div>
		    </div>
		  </div>
		</div>


	</div>
</center>



























{% endblock %}